NUXT_PUBLIC_PRODUCTION="false"
NUXT_SITE_URL="https://dns.example.com"
NUXT_PUBLIC_SITE_URL="https://dns.example.com"
NUXT_PUBLIC_UMAMI_ID="123abc"
MONGO_URL="mongodb://mongo.example.com:27017"
REDIS_URL="rediss://webdev:webdev2023@web.cbpf.dev.br:6379"
DNS_HOST="dns.example.com"
DNS_API_KEY="sua-chave-de-api-aqui"
DNS_SERVER_ID="localhost"
FS_USERNAME="exp"
FS_PASSWORD="exp2023"
FS_BUCKET="ex-example-bucket"
FS_ENDPOINT="https://s3.example.com"
DEV_URL="izanagi.cbpf.dev.br"
DEV_KEY="/home/gabrielrosa/ssl/key.pem"
DEV_CERT="/home/gabrielrosa/ssl/cert.pem"
